
.bet{
	cursor: pointer;
}


.match-id{
	
}

.away{
	text-align: left;
}

.home{
	text-align: right;
}

.bgreen { background-color: #B9FFB9; }
.bblue { background-color: #C7DDFE; }
.bbluelite { background-color: #00FFFF; }
.byellow { background-color: #FFE9B9; }
.bred { background-color: #FCF; }
.brequire { background-color: #C0C0FF; }
.binfo { background-color: #FB7B90; }
.bgray { background-color: #DCDCDC; }
.blite { background-color: #EAEAEA; }